h1.main-title {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	color: #7A3B7A;
	border-bottom: solid 1px #7A3B7A;
	margin-bottom: 20px;
}
.logo {
	background-image: url('Logo.gif');
	margin: 0px;
	padding: 0px;
	height:60%;
	width:100%;
	color: #7A3B7A;
	border-bottom: solid 1px #7A3B7A;
	margin-bottom: 0px;
}

.imagen-ull {
	background-image: url('LogoULL.png');
	margin: 0px;
	padding: 0px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	color: #7A3B7A;
	margin-bottom: 0px;
}
