 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.soporte_tic_a_la_investigacion" %}"> Soporte TIC a la Investigación</a> -  Asesoramiento adquisición infraestructuras y servicios TIC para investigación</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Asesoramiento adquisición infraestructuras y servicios TIC para investigación</h1>
					<p> ID: 3d4e8a85 </p>
					<p> Grupo de Servicio: Soporte TIC a la Investigación </p>
					<p> Criticidad: Servicios Normales</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Código CRUE: CRUE_02_04 </p>
      <p> Descripción: Consultoría técnica para la implantación de servicios TIC orientados a la investigación. </p>
      		</div>
{% endblock %}
{% endblock %}  
  