 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.soporte_tic_a_la_gestion" %}"> Soporte TIC a la Gestión</a> -  Gestión Académica. Actas</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Gestión Académica. Actas</h1>
					<p> ID: d860b5bd </p>
					<p> Grupo de Servicio: Soporte TIC a la Gestión </p>
					<p> Criticidad: Servicios Críticos</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Código CRUE: CRUE_03_04 </p>
      <p> Descripción: Aplicaciones para la gestión de los procedimientos necesarios para la elaboración de las actas de calificación </p>
      		</div>
{% endblock %}
{% endblock %}  
  