 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.publicacion_web" %}"> Publicación web</a> -  Intranet</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Intranet</h1>
					<p> ID: f858e8e1 </p>
					<p> Grupo de Servicio: Publicación web </p>
					<p> Criticidad: Servicios Poco Críticos</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PDI. </p>
   <p> Código CRUE: CRUE_05_03 </p>
      <p> Descripción: Publicación de información académica, de investigación y servicios universitarios en un sitio web de acceso restringido a la comunidad universitaria. </p>
      		</div>
{% endblock %}
{% endblock %}  
  