 
{% extends "menu.html" %}	  
{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.correo_y_colaboracion" %}"> Correo y colaboración</a> -  Notificaciones. Listas de Distribución</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Notificaciones. Listas de Distribución</h1>
					<p> ID: 7478026e </p>
					<p> Grupo de Servicio: Correo y colaboración </p>
					<p> Criticidad: Baja</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Código CRUE: CRUE_04_05 </p>
      <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en listas de correo electrónico, en defernetes modalidades como moderada y no moderada </p>
      		</div>
{% endblock %}
{% endblock %}  
  