 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.correo_y_colaboracion" %}"> Correo y colaboración</a> -  Notificaciones. Redes Sociales</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Notificaciones. Redes Sociales</h1>
					<p> ID: 0b754525 </p>
					<p> Grupo de Servicio: Correo y colaboración </p>
					<p> Criticidad: Servicios Poco Críticos</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Código CRUE: CRUE_04_07 </p>
      <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en redes sociales </p>
      		</div>
{% endblock %}
{% endblock %}  
  