 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.soporte_a_equipamiento_puesto_de_trabajo" %}"> Soporte a Equipamiento Puesto de Trabajo</a> -  Seguridad Integral en el Puesto de Trabajo</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Seguridad Integral en el Puesto de Trabajo</h1>
					<p> ID: bd38a497 </p>
					<p> Grupo de Servicio: Soporte a Equipamiento Puesto de Trabajo </p>
					<p> Criticidad: Servicios Poco Críticos</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Código CRUE: CRUE_06_05 </p>
      <p> Descripción: Configuración y adminsitración centralizada de la seguridad en los equipos de usuario, incluyeno la administración de software de protección como antivirus. </p>
      		</div>
{% endblock %}
{% endblock %}  
  