 
{% extends "menu.html" %}	  
{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.soporte_a_equipamiento_puesto_de_trabajo" %}"> Soporte a Equipamiento Puesto de Trabajo</a> -  Soporte a eventos especiales.</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Soporte a eventos especiales.</h1>
					<p> ID: b718c683 </p>
					<p> Grupo de Servicio: Soporte a Equipamiento Puesto de Trabajo </p>
					<p> Criticidad: Baja</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Código CRUE: CRUE_06_07 </p>
      <p> Descripción: Soporte técnico en la realización de eventos (jornadas, congresos, presentaciones, formación on-line) </p>
      		</div>
{% endblock %}
{% endblock %}  
  