 
{% extends "menu.html" %}	  
{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.soporte_tic_a_la_docencia" %}"> Soporte TIC a la Docencia</a> -  Soporte a realización y corrección  de exámenes</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Soporte a realización y corrección  de exámenes</h1>
					<p> ID: b817c7d3 </p>
					<p> Grupo de Servicio: Soporte TIC a la Docencia </p>
					<p> Criticidad: Baja</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Código CRUE: CRUE_01_06 </p>
      <p> Descripción: Soporte a la automatización de la generación y/o corrección de examenes. </p>
      		</div>
{% endblock %}
{% endblock %}  
  