 
{% extends "menu.html" %}	  
{% block contenido %}
{% block titulo %}
																																    
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - <a href="{% url "servicios_stic.views.gestion_de_identidades" %}"> Gestión de Identidades</a> -  Tarjeta Universitaria Inteligente</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
					<h1 class="main-title"> Tarjeta Universitaria Inteligente</h1>
					<p> ID: 05ff9664 </p>
					<p> Grupo de Servicio: Gestión de Identidades </p>
					<p> Criticidad: Baja</p>
					<p> Nivel de Acceso: None</p>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Código CRUE: CRUE_08_03 </p>
      <p> Descripción: Facilita la obtención, gestión y utilización de la tarjeta universitaria para acceder y beneficiarse de diferentes servicios. </p>
      		</div>
{% endblock %}
{% endblock %}  
  