 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - Alumnos</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_aulas_de_informatica_de_libre_acceso" %}"><h1 class="main-title"> Soporte a aulas de informática de libre acceso</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Instalación y configuración de equipos y software en aulas y ubicaciones de acceso libre </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_aulas_de_informatica_de_uso_docente" %}"><h1 class="main-title"> Soporte a aulas de Informática de uso docente</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Instalación y configuración de equipos y software, en aulas de uso docente. Incluye laboratorios y aulas virtualizadas. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_realizacion_y_correccion__de_examenes" %}"><h1 class="main-title"> Soporte a realización y corrección  de exámenes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Soporte a la automatización de la generación y/o corrección de examenes. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_de_licencias_software_para_docencia" %}"><h1 class="main-title"> Gestión de licencias software para docencia</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Adquisición, gestión y validación centralizada de licencias de software de uso docente </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_de_licencias_software_para_investigacion" %}"><h1 class="main-title"> Gestión de Licencias software para investigación</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Adquisición, gestión y validación centralizada de licencias de aplicaciones orientadas hacia la investigación. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._asesoramiento_adquisicion_infraestructuras_y_servicios_tic_para_investigacion" %}"><h1 class="main-title"> Asesoramiento adquisición infraestructuras y servicios TIC para investigación</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Consultoría técnica para la implantación de servicios TIC orientados a la investigación. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_acceso_a_postgrado" %}"><h1 class="main-title"> Gestión Académica. Acceso a Postgrado</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión del acceso a los cursos de postgrado y máster universitarios. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_actas" %}"><h1 class="main-title"> Gestión Académica. Actas</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos necesarios para la elaboración de las actas de calificación </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_deposito_de_titulos" %}"><h1 class="main-title"> Gestión Académica. Depósito de Títulos</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos asociados a la consecución de un título universitario. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_ensenanzas_propias" %}"><h1 class="main-title"> Gestión Académica. Enseñanzas propias</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos académicos de las enseñanzas propias universitarias. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_guias_docentes" %}"><h1 class="main-title"> Gestión Académica. Guías Docentes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de de los contenidos de las asignaturas impartidas en las diferntes titulaciones académicas. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_movilidad_internacional" %}"><h1 class="main-title"> Gestión Académica. Movilidad internacional</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de los programas de movilidad de los estudiantes. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_secretaria_virtual" %}"><h1 class="main-title"> Gestión Académica. Secretaría Virtual</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimeintos asocuados a expedientes académicos de los alumnos </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_tesis" %}"><h1 class="main-title"> Gestión Académica. Tésis</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos asociados a la consecución de una tesis doctoral. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_economica" %}"><h1 class="main-title"> Gestión Económica</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión económica de la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_economica_contabilidad_analitica" %}"><h1 class="main-title"> Gestión Económica. Contabilidad Analítica</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos asociados a la contabilidad analítica. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_economica_gestion_de_fondos_feder" %}"><h1 class="main-title"> Gestión Económica. Gestión de Fondos FEDER</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los porcesos asociados a la gestión económica de las ayudas de financiación europeas. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_economica_patrimonio_e_inventario" %}"><h1 class="main-title"> Gestión Económica. Patrimonio e Inventario</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión del patrimonio de bienes muebles e inmuebles de la Universidad e inventario de los mismos. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_rrhh" %}"><h1 class="main-title"> Gestión RR.HH.</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos relacionados con los Recursos Humanos en la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_rrhh_convocartorias_de_acceso" %}"><h1 class="main-title"> Gestión RR.HH. Convocartorias de Acceso</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de las covocatorias de provisión de puestos en la Unoiversidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_rrhh_valoracion_del_desempeno" %}"><h1 class="main-title"> Gestión RR.HH. Valoración del Desempeño</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos de valoración de resultados profesionales de los recursos humanos de la Universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_rrhh_formacion" %}"><h1 class="main-title"> Gestión RR.HH. Formación</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos de formación interna destinados a personal de la Universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._extension_universitaria" %}"><h1 class="main-title"> Extensión Universitaria</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos relacionados con la Extensión Universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._extension_universitaria_actividades_deportivas" %}"><h1 class="main-title"> Extensión Universitaria. Actividades Deportivas</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos gestionado por el Servicio de Deportes. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._extension_universitaria_ensenanza_no_reglada" %}"><h1 class="main-title"> Extensión Universitaria. Enseñanza no reglada</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos académicos de las enseñanzas no regladas, incluyendo cursos de verano. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._extension_universitaria_prestamo_de_bicicletas" %}"><h1 class="main-title"> Extensión Universitaria. Préstamo de Bicicletas</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión del préstamo de bicicletas de la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._secretaria_general_protocolo" %}"><h1 class="main-title"> Secretaría General. Protocolo</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos de protocolo exigidos en los actos académicos. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._secretaria_general_registro" %}"><h1 class="main-title"> Secretaría General. Registro</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión del  Registro universitario, incluyendo procesos de entrada/salida, en modalidad presencial y telemática </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._secretaria_general_normativa" %}"><h1 class="main-title"> Secretaría General. Normativa</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de la normativa universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._secretaria_general_elecciones_universitarias" %}"><h1 class="main-title"> Secretaría General. Elecciones Universitarias</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de procesos electorales universitarios. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_infraestructuras_gestion_de_almacen" %}"><h1 class="main-title"> Gestión Infraestructuras. Gestión de almacén</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de de almacenes universitarios, incluyendo gestión de pedidos, entradas y salidas de material. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_infraestructuras_prevencion_de_riesgos_laborales" %}"><h1 class="main-title"> Gestión Infraestructuras. Prevención de Riesgos Laborales.</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de los proceos de evaluación de riesgos laborales en infraestructuras universitarias </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._biblioteca_universitaria_repositorio_institucional" %}"><h1 class="main-title"> Biblioteca Universitaria. Repositorio institucional</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión del repositorio digital institucional de la Universidad. universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._comunicacion_carteleria_digital" %}"><h1 class="main-title"> Comunicación. Cartelería Digital</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de la cartelería digital universitaria, incluyendo la televisión universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_calidad" %}"><h1 class="main-title"> Gestión Calidad.</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de la calidad en la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_calidad_encuestas" %}"><h1 class="main-title"> Gestión Calidad. Encuestas</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de procesos de generación, difusión y evaluación de encuestas destinadas a la comunidad universitaria </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._analisis_de_datos" %}"><h1 class="main-title"> Análisis de datos</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para el análisis de datos, e infomración insitucional, como el datawarehouse </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._atencion_al_usuario__cau_" %}"><h1 class="main-title"> Atención al Usuario (CAU)</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Aplicaciones para la gestión de peticiones e incidencias relacionadas con los servicios unviersitarios </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._correo_electronico_estudiantes" %}"><h1 class="main-title"> Correo electrónico. Estudiantes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en correo electrónico, destinado a los estudiantes universitarios. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._correo_electronico_preuniversitarios" %}"><h1 class="main-title"> Correo electrónico. Preuniversitarios</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en correo electrónico, destinado a los estudiantes presuniversitarios del distrito correspondiente. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._notificaciones_sms" %}"><h1 class="main-title"> Notificaciones. SMS</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en el uso de plataformas de envío de mensajes cortos (SMS) </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._notificaciones_redes_sociales" %}"><h1 class="main-title"> Notificaciones. Redes Sociales</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en redes sociales </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intercambio_de_ficheros_ficheros_gran_volumen" %}"><h1 class="main-title"> Intercambio de ficheros. Ficheros gran volumen</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en el intercambio de ficheros de gran volumen </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._videoconferencia_web" %}"><h1 class="main-title"> Videoconferencia. Web</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones audiovisuales basadas en sistemas de videoconferencia web </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._web_institucional" %}"><h1 class="main-title"> Web institucional</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Publicación de información académica, de investigación y servicios universitarios en el sitio web institucional de la Universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._sede_electronica" %}"><h1 class="main-title"> Sede electrónica</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Publicación de información en la Sede electrónica según lo establecido en la Ley 11/2007, de 22 de junio, de acceso electrónico de los ciudadanos a los Servicios Públicos </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intranet_portal_del_empleado" %}"><h1 class="main-title"> Intranet. Portal del empleado</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Publicación de recursos y servicios dirigidos a los empleados de la universidad sobre un sitio web de acceso restringido a este colectivo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intranet_portal_del_estudiante_o_secretaria_virtual" %}"><h1 class="main-title"> Intranet. Portal del estudiante o Secretaria Virtual</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Publicación de recursos y servicios dirigidos a los estudiantes de la universidad sobre un sitio web de acceso restringido a este colectivo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._contenidos_digitales_contenidos_docentes" %}"><h1 class="main-title"> Contenidos Digitales. Contenidos Docentes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Soporte a la generación, almacenamiento y difusión de contenidos docentes en formato digital </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._contenidos_digitales_contenidos_docentes_de_acceso_abierto" %}"><h1 class="main-title"> Contenidos Digitales. Contenidos Docentes de acceso abierto</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Soporte a la generación, almacenamiento y difusión de contenidos docentes de acceso abierto </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._mantenimiento_de_equipamiento_informatico_corporativo" %}"><h1 class="main-title"> Mantenimiento de equipamiento informático corporativo.</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Resolución y atención a los problemas e incidencias del puesto de trabajo </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._mantenimiento_de_software_corporativo" %}"><h1 class="main-title"> Mantenimiento de software corporativo.</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Instalación, actualización y configuración de software corporativo en el puesto de trabajo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._asesoramiento_para_adquisicion_de_equipamiento_informatico_y_software" %}"><h1 class="main-title"> Asesoramiento para adquisición de equipamiento informático y software.</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Asesoramiento técnico para el equipamiento y software más adecuado a las necesidades del usuario </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_eventos_especiales" %}"><h1 class="main-title"> Soporte a eventos especiales.</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Soporte técnico en la realización de eventos (jornadas, congresos, presentaciones, formación on-line) </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._fax" %}"><h1 class="main-title"> Fax</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones de intercambio de fax. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._consulta_tarificacion_telefonica" %}"><h1 class="main-title"> Consulta Tarificación Telefónica</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Soporte a la aplicación que facilita el acceso a la información de consumo telefónico personal. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._conexion_a_red_inalambrica" %}"><h1 class="main-title"> Conexión a red Inalámbrica</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones soportadas sobre la red inalámbrica de la universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._directorio" %}"><h1 class="main-title"> Directorio</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de la plataforma que almacena, organiza y publica información de contacto sobre los usuarios de la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._autenticacion_centralizada" %}"><h1 class="main-title"> Autenticación Centralizada</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de la plataforma que facilita el acceso unificado a los distintos servicios y aplicaciones de la Universidad mediante las credenciales digitales de un usuario. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_de_certificados" %}"><h1 class="main-title"> Gestión de Certificados</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de la infraestructura de clave pública (PKI) de la universidad  para la emisión de certificados digitales a sus usuarios. </p>
       		</div>
{% endblock %}
{% endblock %}  
  