 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - Comunicaciones</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
                    <li class="active"><a href="{% url "servicios_stic.views.telefonia_fija" %}"><h1 class="main-title">Telefonía fija</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones de voz basadas en el uso de terminales fijos. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.telefonia_movil" %}"><h1 class="main-title">Telefonía Móvil</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones de voz basadas en el uso de terminales móviles. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.fax" %}"><h1 class="main-title">Fax</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones de intercambio de fax. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.consulta_tarificacion_telefonica" %}"><h1 class="main-title">Consulta Tarificación Telefónica</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Soporte a la aplicación que facilita el acceso a la información de consumo telefónico personal. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.conexion_a_red_cableada" %}"><h1 class="main-title">Conexión a red Cableada</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones soportadas sobre la red de cableado estructurado de la universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.conexion_a_red_inalambrica" %}"><h1 class="main-title">Conexión a red Inalámbrica</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones soportadas sobre la red inalámbrica de la universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.conexion_externo_a_red_de_comunicaciones" %}"><h1 class="main-title">Conexión Externo a Red de Comunicaciones</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones desde una red externa a la institucional utilizando mecanisos de cifrado </p>
       		</div>
{% endblock %}
{% endblock %}  
  