 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - ExAlumnos</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
                    <li class="active"><a href="{% url "servicios_stic.views._docencia_virtual" %}"><h1 class="main-title"> Docencia Virtual</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la docencia virtual (LMS) </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_aulas_de_informatica_de_libre_acceso" %}"><h1 class="main-title"> Soporte a aulas de informática de libre acceso</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Instalación y configuración de equipos y software en aulas y ubicaciones de acceso libre </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_la_elaboracion_de_contenidos_docentes" %}"><h1 class="main-title"> Soporte a la elaboración de contenidos docentes</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Asesoramiento en el uso de herramientas para la generaciónd econtenidos docentes. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_realizacion_y_correccion__de_examenes" %}"><h1 class="main-title"> Soporte a realización y corrección  de exámenes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Soporte a la automatización de la generación y/o corrección de examenes. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._alojamiento_de_infraestructuras" %}"><h1 class="main-title"> Alojamiento de Infraestructuras</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Alojamiento y conectividad en el CPD para el despliegue de aplicaciones y servicios de investigación. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_de_licencias_software_para_investigacion" %}"><h1 class="main-title"> Gestión de Licencias software para investigación</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Adquisición, gestión y validación centralizada de licencias de aplicaciones orientadas hacia la investigación. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_acceso_a_grado" %}"><h1 class="main-title"> Gestión Académica. Acceso a Grado</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión del acceso a los grados universitarios. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_acceso_a_postgrado" %}"><h1 class="main-title"> Gestión Académica. Acceso a Postgrado</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión del acceso a los cursos de postgrado y máster universitarios. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_becas" %}"><h1 class="main-title"> Gestión Académica. Becas</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de las solicitudes de becas de los alumnos. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_deposito_de_titulos" %}"><h1 class="main-title"> Gestión Académica. Depósito de Títulos</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos asociados a la consecución de un título universitario. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_gestion_de_postgrado" %}"><h1 class="main-title"> Gestión Académica. Gestión de Postgrado</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos académicos de las enseñanzas de postgrado universitario. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_guias_docentes" %}"><h1 class="main-title"> Gestión Académica. Guías Docentes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de de los contenidos de las asignaturas impartidas en las diferntes titulaciones académicas. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_plan_docente" %}"><h1 class="main-title"> Gestión Académica. Plan Docente</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de de la carga docente asociada a cada profesor. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_academica_secretaria_virtual" %}"><h1 class="main-title"> Gestión Académica. Secretaría Virtual</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimeintos asocuados a expedientes académicos de los alumnos </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_de_la_investigacion" %}"><h1 class="main-title"> Gestión de la Investigación</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de la Investigación. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_economica" %}"><h1 class="main-title"> Gestión Económica</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión económica de la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_economica_tesoreria" %}"><h1 class="main-title"> Gestión Económica. Tesorería</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de la tesorería económica de la Universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_economica_gestion_de_fondos_feder" %}"><h1 class="main-title"> Gestión Económica. Gestión de Fondos FEDER</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los porcesos asociados a la gestión económica de las ayudas de financiación europeas. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_economica_presupuestos" %}"><h1 class="main-title"> Gestión Económica. Presupuestos</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión del presupeusto de la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_rrhh" %}"><h1 class="main-title"> Gestión RR.HH.</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos relacionados con los Recursos Humanos en la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_rrhh_control_horario" %}"><h1 class="main-title"> Gestión RR.HH. Control Horario</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de entradas y salidas del puesto del trabajo del personal universitario. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_rrhh_valoracion_del_desempeno" %}"><h1 class="main-title"> Gestión RR.HH. Valoración del Desempeño</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos de valoración de resultados profesionales de los recursos humanos de la Universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_rrhh_retribuciones" %}"><h1 class="main-title"> Gestión RR.HH. Retribuciones</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de las reribuciones a personal de la Universidad, incluyendo  comisión de servicio y nóminas </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._extension_universitaria" %}"><h1 class="main-title"> Extensión Universitaria</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos relacionados con la Extensión Universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._extension_universitaria_bolsa_de_alojamiento" %}"><h1 class="main-title"> Extensión Universitaria. Bolsa de alojamiento</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de la oferta de alquiler de viviendas para estudiantes </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._extension_universitaria_ensenanza_no_reglada" %}"><h1 class="main-title"> Extensión Universitaria. Enseñanza no reglada</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procedimientos académicos de las enseñanzas no regladas, incluyendo cursos de verano. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._secretaria_general_archivo_universitario" %}"><h1 class="main-title"> Secretaría General. Archivo Universitario</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión y mantenimiento del Archivo universitario en todo diferntes soportes como documentos, fichas, dvd, negativos y positivos fotográficos, cuadernos, películas o impresos. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._secretaria_general_protocolo" %}"><h1 class="main-title"> Secretaría General. Protocolo</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos de protocolo exigidos en los actos académicos. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._secretaria_general_convenios" %}"><h1 class="main-title"> Secretaría General. Convenios</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los convenios firmados por la universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._secretaria_general_normativa" %}"><h1 class="main-title"> Secretaría General. Normativa</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de la normativa universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_infraestructuras_control_de_acceso" %}"><h1 class="main-title"> Gestión Infraestructuras. Control de acceso</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de de las plataformas que controlan el acceso a los edificios y aparcamientos de la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_infraestructuras_gestion_de_almacen" %}"><h1 class="main-title"> Gestión Infraestructuras. Gestión de almacén</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de de almacenes universitarios, incluyendo gestión de pedidos, entradas y salidas de material. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._biblioteca_universitaria" %}"><h1 class="main-title"> Biblioteca Universitaria</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los procesos soportados por la Biblioteca universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._biblioteca_universitaria_repositorio_institucional" %}"><h1 class="main-title"> Biblioteca Universitaria. Repositorio institucional</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión del repositorio digital institucional de la Universidad. universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._comunicacion_prensa_universitaira" %}"><h1 class="main-title"> Comunicación. Prensa universitaira</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de los diferentes medios soporte de la prensa universitaria </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_calidad" %}"><h1 class="main-title"> Gestión Calidad.</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de la calidad en la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_calidad_herramienta_para_evaluacion_efqm" %}"><h1 class="main-title"> Gestión Calidad. Herramienta para evaluación EFQM</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la gestión de la evaluación y autoevaluación de la calidad según el modelo EFAM </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._analisis_de_datos" %}"><h1 class="main-title"> Análisis de datos</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Aplicaciones para el análisis de datos, e infomración insitucional, como el datawarehouse </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._correo_electronico_pdi_y_pas" %}"><h1 class="main-title"> Correo electrónico. PDI y PAS</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en correo electrónico, destinado al PAS y PDI. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._correo_electronico_estudiantes" %}"><h1 class="main-title"> Correo electrónico. Estudiantes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en correo electrónico, destinado a los estudiantes universitarios. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._notificaciones_listas_de_distribucion" %}"><h1 class="main-title"> Notificaciones. Listas de Distribución</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en listas de correo electrónico, en defernetes modalidades como moderada y no moderada </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._notificaciones_sms" %}"><h1 class="main-title"> Notificaciones. SMS</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en el uso de plataformas de envío de mensajes cortos (SMS) </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intercambio_de_ficheros_ftp" %}"><h1 class="main-title"> Intercambio de ficheros. FTP</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en el intercambio de ficheros a través del protocolo de transferencia FTP </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intercambio_de_ficheros_ficheros_gran_volumen" %}"><h1 class="main-title"> Intercambio de ficheros. Ficheros gran volumen</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones basadas en el intercambio de ficheros de gran volumen </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._videoconferencia_inmersion" %}"><h1 class="main-title"> Videoconferencia. Inmersión</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones audiovisuales basadas en sistemas de basadas en el uso de salas especialmente equipadas para integrar presencia y contenidos. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._web_institucional" %}"><h1 class="main-title"> Web institucional</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Publicación de información académica, de investigación y servicios universitarios en el sitio web institucional de la Universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intranet_portal_del_investigador" %}"><h1 class="main-title"> Intranet. Portal del investigador</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Publicación de recursos y servicios dirigidos a los investigadores sobre un sitio web de acceso restringido a este colectivo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intranet_portal_del_empleado" %}"><h1 class="main-title"> Intranet. Portal del empleado</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Publicación de recursos y servicios dirigidos a los empleados de la universidad sobre un sitio web de acceso restringido a este colectivo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._contenidos_digitales_material_fotografico" %}"><h1 class="main-title"> Contenidos Digitales. Material fotográfico</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Soporte a la generación, almacenamiento y difusión de material fotográfico </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._contenidos_digitales_contenidos_docentes" %}"><h1 class="main-title"> Contenidos Digitales. Contenidos Docentes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Soporte a la generación, almacenamiento y difusión de contenidos docentes en formato digital </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._servicio_de_provision_y_renovacion_del_puesto_de_trabajo" %}"><h1 class="main-title"> Servicio de provisión y renovación del puesto de trabajo</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: instalación y configuración del equipamiento informático (hardware y software) adecuado al puesto de trabajo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._mantenimiento_de_equipamiento_informatico_corporativo" %}"><h1 class="main-title"> Mantenimiento de equipamiento informático corporativo.</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Resolución y atención a los problemas e incidencias del puesto de trabajo </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._seguridad_integral_en_el_puesto_de_trabajo" %}"><h1 class="main-title"> Seguridad Integral en el Puesto de Trabajo</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Configuración y adminsitración centralizada de la seguridad en los equipos de usuario, incluyeno la administración de software de protección como antivirus. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._asesoramiento_para_adquisicion_de_equipamiento_informatico_y_software" %}"><h1 class="main-title"> Asesoramiento para adquisición de equipamiento informático y software.</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Asesoramiento técnico para el equipamiento y software más adecuado a las necesidades del usuario </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._telefonia_movil" %}"><h1 class="main-title"> Telefonía Móvil</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones de voz basadas en el uso de terminales móviles. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._fax" %}"><h1 class="main-title"> Fax</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de las comunicaciones de intercambio de fax. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._tarjeta_universitaria_inteligente" %}"><h1 class="main-title"> Tarjeta Universitaria Inteligente</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Facilita la obtención, gestión y utilización de la tarjeta universitaria para acceder y beneficiarse de diferentes servicios. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._autenticacion_centralizada" %}"><h1 class="main-title"> Autenticación Centralizada</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de la plataforma que facilita el acceso unificado a los distintos servicios y aplicaciones de la Universidad mediante las credenciales digitales de un usuario. </p>
       		</div>
{% endblock %}
{% endblock %}  
  