 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - Gestión de Identidades</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
                    <li class="active"><a href="{% url "servicios_stic.views.directorio" %}"><h1 class="main-title">Directorio</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de la plataforma que almacena, organiza y publica información de contacto sobre los usuarios de la Universidad. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.gestion_de_credenciales" %}"><h1 class="main-title">Gestión de credenciales</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Diseño, administración y gestión de la plataforma que almacena gestiona los datos y mecanismos de acceso a los servicios y aplicaciones de la Universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.tarjeta_universitaria_inteligente" %}"><h1 class="main-title">Tarjeta Universitaria Inteligente</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Facilita la obtención, gestión y utilización de la tarjeta universitaria para acceder y beneficiarse de diferentes servicios. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.autenticacion_centralizada" %}"><h1 class="main-title">Autenticación Centralizada</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Diseño, administración y gestión de la plataforma que facilita el acceso unificado a los distintos servicios y aplicaciones de la Universidad mediante las credenciales digitales de un usuario. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views.gestion_de_certificados" %}"><h1 class="main-title">Gestión de Certificados</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Diseño, administración y gestión de la infraestructura de clave pública (PKI) de la universidad  para la emisión de certificados digitales a sus usuarios. </p>
       		</div>
{% endblock %}
{% endblock %}  
  