{% extends "plantilla.html" %}

{% block menu %}
                       <div class="panel panel-default panel-ull color-336699">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-file"></i> Servicios</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                 <li><a href="{% url "servicios_stic.views.soporte_tic_a_la_docencia" %}">Soporte TIC a la Docencia</a></li>
                                 <li><a href="{% url "servicios_stic.views.soporte_tic_a_la_investigacion" %}">Soporte TIC a la Investigación</a></li>
                                 <li><a href="{% url "servicios_stic.views.soporte_tic_a_la_gestion" %}">Soporte TIC a la Gestión</a></li>
                                 <li><a href="{% url "servicios_stic.views.correo_y_colaboracion" %}">Correo y colaboración</a></li>
                                 <li><a href="{% url "servicios_stic.views.publicacion_web" %}">Publicación web</a></li>
                                 <li><a href="{% url "servicios_stic.views.soporte_a_equipamiento_puesto_de_trabajo" %}">Soporte a Equipamiento Puesto de Trabajo</a></li>
                                 <li><a href="{% url "servicios_stic.views.comunicaciones" %}">Comunicaciones</a></li>
                                 <li><a href="{% url "servicios_stic.views.gestion_de_identidades" %}">Gestión de Identidades</a></li>
                                </ul>
                            </div>
                        </div>
{%endblock%}

{% block menucritic %}
                       <div class="panel panel-default panel-ull color-336699">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-file"></i> Grupos de Criticidad</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                 <li><a href="{% url "servicios_stic.views.servicios_poco_criticos" %}">Servicios Poco Críticos</a></li>
                                 <li><a href="{% url "servicios_stic.views.servicios_normales" %}">Servicios Normales</a></li>
                                 <li><a href="{% url "servicios_stic.views.servicios_criticos" %}">Servicios Críticos</a></li>
                                </ul>
                            </div>
                        </div>
{%endblock%}

{% block menurole %}
                       <div class="panel panel-default panel-ull color-336699">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-file"></i> Roles</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                 <li><a href="{% url "servicios_stic.views.pdi" %}">PDI</a></li>
                                 <li><a href="{% url "servicios_stic.views.pas" %}">PAS</a></li>
                                 <li><a href="{% url "servicios_stic.views.exalumnos" %}">ExAlumnos</a></li>
                                 <li><a href="{% url "servicios_stic.views.alumnos" %}">Alumnos</a></li>
                                 <li><a href="{% url "servicios_stic.views.aaaaull" %}">AAAAULL</a></li>
                                </ul>
                            </div>
                        </div>
{%endblock%}

{%block contenido%}{%endblock%}

