 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - Publicación web</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
                    <li class="active"><a href="{% url "servicios_stic.views._web_institucional" %}"><h1 class="main-title"> Web institucional</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Publicación de información académica, de investigación y servicios universitarios en el sitio web institucional de la Universidad </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._sede_electronica" %}"><h1 class="main-title"> Sede electrónica</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Publicación de información en la Sede electrónica según lo establecido en la Ley 11/2007, de 22 de junio, de acceso electrónico de los ciudadanos a los Servicios Públicos </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intranet" %}"><h1 class="main-title"> Intranet</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Publicación de información académica, de investigación y servicios universitarios en un sitio web de acceso restringido a la comunidad universitaria. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intranet_portal_del_investigador" %}"><h1 class="main-title"> Intranet. Portal del investigador</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Publicación de recursos y servicios dirigidos a los investigadores sobre un sitio web de acceso restringido a este colectivo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intranet_portal_del_empleado" %}"><h1 class="main-title"> Intranet. Portal del empleado</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Publicación de recursos y servicios dirigidos a los empleados de la universidad sobre un sitio web de acceso restringido a este colectivo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._intranet_portal_del_estudiante_o_secretaria_virtual" %}"><h1 class="main-title"> Intranet. Portal del estudiante o Secretaria Virtual</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Publicación de recursos y servicios dirigidos a los estudiantes de la universidad sobre un sitio web de acceso restringido a este colectivo. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._contenidos_digitales_material_audiovisual" %}"><h1 class="main-title"> Contenidos Digitales. Material audiovisual</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Soporte a la generación, almacenamiento y difusión de material audiovisual </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._contenidos_digitales_material_fotografico" %}"><h1 class="main-title"> Contenidos Digitales. Material fotográfico</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Soporte a la generación, almacenamiento y difusión de material fotográfico </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._contenidos_digitales_contenidos_docentes" %}"><h1 class="main-title"> Contenidos Digitales. Contenidos Docentes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Soporte a la generación, almacenamiento y difusión de contenidos docentes en formato digital </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._contenidos_digitales_contenidos_docentes_de_acceso_abierto" %}"><h1 class="main-title"> Contenidos Digitales. Contenidos Docentes de acceso abierto</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Soporte a la generación, almacenamiento y difusión de contenidos docentes de acceso abierto </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._grabacion_y_difusion_de_eventos" %}"><h1 class="main-title"> Grabación y Difusión de eventos</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Grabación audiovisual de eventos, incluyendo la posibilidad de difusión a través de internet </p>
       		</div>
{% endblock %}
{% endblock %}  
  