 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - Soporte TIC a la Docencia</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
                    <li class="active"><a href="{% url "servicios_stic.views._docencia_virtual" %}"><h1 class="main-title"> Docencia Virtual</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Aplicaciones para la docencia virtual (LMS) </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_aulas_de_informatica_de_libre_acceso" %}"><h1 class="main-title"> Soporte a aulas de informática de libre acceso</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Instalación y configuración de equipos y software en aulas y ubicaciones de acceso libre </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_aulas_de_informatica_de_uso_docente" %}"><h1 class="main-title"> Soporte a aulas de Informática de uso docente</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Instalación y configuración de equipos y software, en aulas de uso docente. Incluye laboratorios y aulas virtualizadas. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_aulas_multimedia" %}"><h1 class="main-title"> Soporte a Aulas multimedia</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Instalación y configuración de equipos y software, en aulas con equipamiento audiovisual y no solo ordenadores. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_la_elaboracion_de_contenidos_docentes" %}"><h1 class="main-title"> Soporte a la elaboración de contenidos docentes</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Asesoramiento en el uso de herramientas para la generaciónd econtenidos docentes. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._soporte_a_realizacion_y_correccion__de_examenes" %}"><h1 class="main-title"> Soporte a realización y corrección  de exámenes</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Soporte a la automatización de la generación y/o corrección de examenes. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_de_licencias_software_para_docencia" %}"><h1 class="main-title"> Gestión de licencias software para docencia</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Adquisición, gestión y validación centralizada de licencias de software de uso docente </p>
       		</div>
{% endblock %}
{% endblock %}  
  