 
{% extends "menu.html" %}

{% block contenido %}
{% block titulo %}
	<li class="active">Universidad de La Laguna - <a href="{% url "servicios_stic.views.index"%}">Carta de Servicios del STIC</a> - Soporte TIC a la Investigación</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
                    <li class="active"><a href="{% url "servicios_stic.views._supercomputacion" %}"><h1 class="main-title"> Supercomputación</h1></a></li>
                    <p> Roles: PDI. </p>
   <p> Descripción: Gestión de los recursos TIC  de computación de altas prestaciones orientados al cálculo o al procesamiento de datos científicos. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._alojamiento_de_infraestructuras" %}"><h1 class="main-title"> Alojamiento de Infraestructuras</h1></a></li>
                    <p> Roles: PDI, PAS, ExAlumnos. </p>
   <p> Descripción: Alojamiento y conectividad en el CPD para el despliegue de aplicaciones y servicios de investigación. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._gestion_de_licencias_software_para_investigacion" %}"><h1 class="main-title"> Gestión de Licencias software para investigación</h1></a></li>
                    <p> Roles: PAS, ExAlumnos, Alumnos. </p>
   <p> Descripción: Adquisición, gestión y validación centralizada de licencias de aplicaciones orientadas hacia la investigación. </p>
       
                    <li class="active"><a href="{% url "servicios_stic.views._asesoramiento_adquisicion_infraestructuras_y_servicios_tic_para_investigacion" %}"><h1 class="main-title"> Asesoramiento adquisición infraestructuras y servicios TIC para investigación</h1></a></li>
                    <p> Roles: PDI, Alumnos, AAAAULL. </p>
   <p> Descripción: Consultoría técnica para la implantación de servicios TIC orientados a la investigación. </p>
       		</div>
{% endblock %}
{% endblock %}  
  