<!--
#
#    Copyright 2014-2015
#
#      STIC - Universidad de La Laguna (ULL) <gesinv@ull.edu.es>
#
#    This file is part of Modelado de Servicios TIC.
#
#    Modelado de Servicios TIC is free software: you can redistribute it and/or modify it under
#    the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Modelado de Servicios TIC is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with Modelado de Servicios TIC.  If not, see
#    <http://www.gnu.org/licenses/>.
#
-->
	{% extends "plantilla.html" %}
	{% block titulo %}
		<li class="active">Universidad de La Laguna - Generador de Webs HTML</li>
	{% endblock %}
	{% block content %}
	<h1 class="main-title" align="left">&nbsp &nbsp Generador de Webs HTML - Carta de Servicios</h1>
	<div class="container-fluid">
		<div class="col-sm-4">
			<div class="col-md-9 col-md-push-3" role="main"> 
				<br><br>
				<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
				{{ form.as_p }}
			<input type="submit" value="Enviar" class="btn btn-primary">
		</form>
    </div>
    {%endblock%}
