/*
#
#    Copyright 2014-2015
#
#      STIC - Universidad de La Laguna (ULL) <gesinv@ull.edu.es>
#
#    This file is part of Modelado de Servicios TIC.
#
#    Modelado de Servicios TIC is free software: you can redistribute it and/or modify it under
#    the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Modelado de Servicios TIC is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with Modelado de Servicios TIC.  If not, see
#    <http://www.gnu.org/licenses/>.
#
*/

h1.main-title {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	color: #7A3B7A;
	border-bottom: solid 1px #7A3B7A;
	margin-bottom: 20px;
}
.logo {
	background-image: url('Logo.jpg');
	margin: 0px;
	padding: 0px;
	height:60%;
	width:100%;
	color: #7A3B7A;
	border-bottom: solid 1px #7A3B7A;
	margin-bottom: 0px;
}

.imagen-ull {
	background-image: url('Logo.jpg');
	margin: 0px;
	padding: 0px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	color: #7A3B7A;
	margin-bottom: 0px;
}
